[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ k8s.binary_dir }}/kube-controller-manager \
  --address=0.0.0.0 \
  --cluster-cidr=10.200.0.0/16 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ ca_dir }}/{{ ca.cert }} \
  --cluster-signing-key-file={{ ca_dir }}/{{ ca.key }} \
  --kubeconfig={{ kubeconfig_location.controller }} \
  --leader-elect=true \
  --root-ca-file={{ ca_dir }}/{{ ca.cert }} \
  --service-account-private-key-file={{ cert.dir }}/{{ cert.service_accounts.key }} \
  --service-cluster-ip-range=10.32.0.0/24 \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target